.App {
  text-align: center;
}

.App-logo {
  height: 150px;
}

.App-logo[aria-busy="true"] {
  animation-name: ckw;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes ckw {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.App-link {
  color: #3842C1;
}

.App-input {
  font-size: calc(10px + 2vmin);
  margin-right: 25px;
}

.App-button {
  background-color: #3842C1;
  color: #ffffff;
  border: #ffffff solid 3px;
  border-radius: 50px;
  padding: 20px;
  font-size: 25px;
  cursor: pointer;
  outline: none;
}

.App-button:active {
  background-color: #ffffff;
  color: #3842C1;
  border-color: #3842C1;
}

.App-button:disabled {
  background-color: #e0e0e0;
}

.App-error {
  color: #ff5050;
  font-family: monospace;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}